$primary: #3F94FC;
$secondary: #FCBC3F;
$neutrayDark:#000000;
$neutral: #AAAAAA;
$neutralLight: #F6F6F6;


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


$minScreen: 20rem;
$maxScreen: 60rem;
$minFont: .8rem;
$maxFont: 2rem;

$h1: 2rem;
$h2: 1.5rem;
$h3: 1.25rem;
$h4: 1rem;
$p: .875rem;


@mixin fluid-type($properties, $min-vw, $max-vw, $min-value, $max-value) {
	& {
		@each $property in $properties {
			#{$property}: $min-value;
		}

		@media screen and (min-width: $min-vw) {
			@each $property in $properties {
				#{$property}: calc(#{$min-value} + #{strip-unit($max-value - $min-value)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
			}
		}

		@media screen and (min-width: $min-vw * 2) {
			@each $property in $properties {
				#{$property}: $max-value /2;
			}
		}

		@media screen and (min-width: $max-vw) {
			@each $property in $properties {
				#{$property}: $max-value * 2 / 3;
			}
		}
	}
}

@function strip-unit($value) {
	@return $value / ($value * 0 + 1);
}


@mixin medium($min-vw, $max-vw) {
    @media screen and (min-width: $min-vw * 2) {
        @content;
    }
}

@mixin large($min-vw, $max-vw) {
    @media screen and (min-width: $max-vw) {
        @content;
    }
}


