.form__group {
    padding: 10px;
    input, select{
        height: 50px;
        width: 40%;
        min-width: 310px;
    }
    input[type="submit"] {
        background-color: $primary;
        border: 3px solid $primary;
        color: white;
        font-weight: 600;
        font-size: 1rem;
    }
    .invalid {
        border: 2px solid $secondary;
    }
    .danger {
        color: $secondary;
    }
    select {
        font-family: inherit;
        background: url('이미지 경로') no-repeat 95% 50%;
        border: 1px solid #999;
        border-radius: 0px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;

    }
    
    select::-ms-expand {
        display: none;
    }
    
}
