.header {
    height: 15vh;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    width: 100%;
    &__logo {
        width: ( $h1 * 4 );
        margin: 10px 5%;
    }
    &__container {
        width: 100%;
        background-color: black;
        #color-bar {
            width: 0;
            height: 0.4rem;
            background-color: $secondary;
        }
    }
}
.screen {
    width: 100%;
    &--1 { 
        height: 70vh;
        .page__top {height: 120px;}
    }
    &--2, &--3, &--4 { height: auto; }
    &--4 {
        background-image: url('/dist/image/simon-migaj-sa7KClvDBpo-unsplash.jpg');
        background-size: 100%;
        background-position: center;
        .form {position: relative; height: 100%;}
    }
}

.page {
    width: 100%;
    .hidden { display: none; }

    &__top {
        position: relative;
        height: 100%;
    }
    &__inner {
        display: flex;
        justify-content: center;
    }
    &__contents {
        padding: 5%;
        background-color: white;
        .vehicle {
            padding: 40px 0;
            img {width: 100%;}
            .form__group {padding: 0;}
        }
    }
}

.top {
    &__text { 
        color: $primary; 
        letter-spacing: 2px;
        padding-top: 20px;
        p { text-align: center; }
    }
    &__icons {
        display: flex;
        justify-content: space-around;
        position: absolute;
        bottom: 0;
        width: 90%;
        margin: 0 5%;

        .icon {
            opacity: 0.5;
            img {width: ( $h1 * 2.3 );}
        }
        .highlight {opacity: 1;}
    }
    &__container {
        height: 100%;
        padding: 20px 10%;

        &--1 {
            background-color: $primary;
            color: $neutralLight;
        }
        &--2 {
            background-color: white;
        }
    }
    &__location {
        display: flex;
        justify-content: center;
        background-color: $secondary;
    }
}


.vehicle-icon {
    width: ( $h1 * 3.8 );
}

.back { 
    color: $secondary; 
    font-size: ( $h1 * 1.5 );
    position: absolute;
    top: 20px;
    right: 10%;
    &:hover { color: rgba($neutral, 0.8)}
}


footer {
    height: 10vh;
    color: rgba($neutral, 0.5);
    text-align: center;
    margin-top: 5vh;
}
