@import 'config';
@import 'home';
@import 'form';
@import 'map';
@import 'responsive';

*{ border: 1px solid red; }

h1, h2, h3 {font-family: 'Inter', sans-serif;}
h4, p {font-family: 'Inter', sans-serif;}


body {
    background-color: $neutrayDark;
    height:100vh;
}

.header {
    height: 100px;
    &__logo {
        width: 100px;
    }
    // &__container
}
.screen {
    width: 100vw;
    &--1, &--4 {
        height: 80vh;

    }
}

footer {
    color: $neutralLight;
}


