@import 'config';
@import 'form';
@import 'home';
@import 'responsive';


h1, h2, h3 {font-family: 'Inter', sans-serif;}
h4, p {font-family: 'Inter', sans-serif;}

.screen {
    &__logo {
        width: 100px;
    }
}



