@import 'config';
@import 'home';
@import 'form';
@import 'map';
@import 'responsive';


h1, h2, h3 {font-family: 'Inter', sans-serif;}
h4, p {font-family: 'Inter', sans-serif;}

// body {background-color: $neutrayDark;}
// color: $neutralLight;


.header {
    &__logo {
        width: 100px;
    }
    // &__container
}
.screen {
    width: 100vw;
    // &--0, &--3 {
    //     height: 100vh;
    // }
}



